<div class="">
  <div class="flex flex-col justify-between border border-blue-500 w-auto h-36 m-4 rounded-2xl bg-blue-300 shadow-2xl">
    <div class="text-3xl text-blue-600 m-2">Title</div>
    <div class="flex justify-between cursor-pointer m-4">
      <div class="shadow-inner shadow-white w-28 h-9 bg-blue-100 border border-blue-500 rounded-full text-center hover:scale-105 duration-300 p-1">
        1403.12.16</div>
      <div>
        <button class="shadow-inner shadow-white w-28 h-9 bg-blue-100 border border-blue-500 rounded-full text-center p-1 hover:scale-105 duration-300">
          Add 
        </button>
        <button class="shadow-inner shadow-white w-28 h-9 bg-blue-100 border border-blue-500 rounded-full text-center p-1 hover:scale-105 duration-300 mx-2">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between border border-blue-500 w-auto h-36 m-4 rounded-2xl bg-blue-300 shadow-2xl">
    <div class="text-3xl text-blue-600 m-2">Title</div>
    <div class="flex justify-between cursor-pointer m-4">
      <div class="shadow-inner shadow-white w-28 h-9 bg-blue-100 border border-blue-500 rounded-full text-center hover:scale-105 duration-300 p-1">
        1403.12.16</div>
      <div>
        <button class="shadow-inner shadow-white w-28 h-9 bg-blue-100 border border-blue-500 rounded-full text-center p-1 hover:scale-105 duration-300">
          Add 
        </button>
        <button class="shadow-inner shadow-white w-28 h-9 bg-blue-100 border border-blue-500 rounded-full text-center p-1 hover:scale-105 duration-300 mx-2">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
